<div class="chapter" id="chapter-bookbite">
    <div class="section">
        <div class="grid">
            <div class="column align-center c-start-4 c-span-6">
                <h3>Maak kennis met...</h3>
                <img class="logo" src="{{ '/' | url }}assets/logos/bookbite-white.svg">
            </div>
            <div class="video-container c-start-3 c-span-8">
                <iframe src="https://www.youtube.com/embed/7k9PODA3IFU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="grid">
            <div class="showcase-gallery c-start-2 c-span-4">
                <img src="{{ '/' | url }}assets/images/showcase-home.png">
                <img src="{{ '/' | url }}assets/images/showcase-reading.png">
            </div>
            <div class="column c-start-6 c-span-6">
                <h2>Wat is Bookbite?</h2>
                <div class="spacer-32"></div>
                <p class="big">Bookbite is een (web) applicatie waar jongeren een persoonlijk profiel kunnen opstellen waarin hun interesses, behoeftes, voorkeuren en wensen, wat betreft literatuur en het ervaren ervan, duidelijk worden.</p>
                <p>Aan de hand van dit profiel zal de app aanbevelingen doen over welke boeken dan bij jou passen. In de app is het dan ook mogelijk om deze aanbevolen boeken te lezen. Aan de hand van het profiel zal er dan ook een persoonlijke ervaring worden gecreëerd door het gebruik van muziek (waar de focus gestimuleerd kan worden) en visuele ondersteuningen.</p>
                <div class="spacer-32"></div>
                <p>Benieuwd hoe het is geworden?</p>
                <a class="button primary" target="_blank" href="https://bookbite.netlify.app/">Probeer het zelf!</a>
            </div>
        </div>
    </div>
</div>