<div class="chapter" id="closing">
    {% set chapter = "Closing" %}
    {% include "chapterHeader.njk" %}
    {% include "section/recommendations.njk" %}
    {% include "section/about-us.njk" %}
    {% include "section/files.njk" %}
</div>