<div class="chapter light-purple" id="closing">
    {% set chapter = "Closing" %}
    {% set firstSection = "recommendations" %}
    {% include "chapterHeader.njk" %}
    {% include "section/recommendations.njk" %}
    {% include "section/about-us.njk" %}
    {# {% include "section/files.njk" %} #}
    {% include "section/credit.njk" %}
</div>