<div class="chapter" id="create">
    {% set chapter = "Create" %}
    {% set nextChapter = "closing" %}
    {% set firstSection = "job-stories" %}
    {% include "chapterHeader.njk" %}
    {% include "section/job-stories.njk" %}
    {% include "section/wireframes.njk" %}
    {% include "section/styleguide.njk" %}
    {% include "section/prototyping.njk" %}
    {% include "section/testing.njk" %}
    {% include "section/feedback.njk" %}
</div>