<div class="chapter" id="disovery">
    {% set chapter = "Discovery" %}
    {% include "chapterHeader.njk" %}
    {% include "section/stakeholders.njk" %}
    {% include "section/research.njk" %}
    {% include "section/criteria.njk" %}
</div>