<div class="chapter light" id="disovery">
    {% set chapter = "Discovery" %}
    {% set nextChapter = "ideation" %}
    {% set firstSection = "research" %}
    {% include "chapterHeader.njk" %}
    {% include "section/stakeholders.njk" %}
    {% include "section/research.njk" %}
    {% include "section/criteria.njk" %}
</div>