<div class="chapter" id="ideation">
    {% set chapter = "Ideation" %}
    {% set nextChapter = "create" %}
    {% set firstSection = "concepting" %}
    {% include "chapterHeader.njk" %}
    {% include "section/concepting.njk" %}
    {% include "section/bookbite.njk" %}
</div>