---
layout: base.njk
---
<!-- HEADER -->
{% include "header.njk" %}

<!-- CHAPTER: DISCOVERY -->
{% include "chapter/discovery.njk" %}

<!-- CHAPTER: IDEATION -->
{% include "chapter/ideation.njk" %}

<!-- CHAPTER: BOOKBITE -->
{% include "chapter/bookbite.njk" %}

<!-- CHAPTER: CREATE -->
{% include "chapter/create.njk" %}

<!-- CHAPTER: CLOSING -->
{% include "chapter/closing.njk" %}

<!-- FOOTER -->
{% include "footer.njk" %}