<div class="header">
    <div class="grid">
        <div class="column align-center c-start-4 c-span-6">
            {# ICON #}
            {% if chapter == "Closing"%}
            {% else %}
            <div class="marker">
                {% if chapter == "Discovery" %}
                    <img class="icon-48" src="{{ '/' | url }}assets/icons/double-diamond-2-48.svg">
                    <img class="icon-32" src="{{ '/' | url }}assets/icons/double-diamond-2-32.svg">
                {% elif chapter == "Ideation" %}
                    <img class="icon-48" src="{{ '/' | url }}assets/icons/double-diamond-3-48.svg">
                    <img class="icon-32" src="{{ '/' | url }}assets/icons/double-diamond-3-32.svg">
                {% elif chapter == "Create" %}
                    <img class="icon-48" src="{{ '/' | url }}assets/icons/double-diamond-4-48.svg">
                    <img class="icon-32" src="{{ '/' | url }}assets/icons/double-diamond-4-32.svg">
                {% endif %}
            </div>
            {% endif %}
            <div class="spacer-32"></div>
            {# TITLE #}
            <h1>
                {% if chapter == "Discovery" %}
                    Discovery fase
                {% elif chapter == "Ideation" %}
                    Ideation fase
                {% elif chapter == "Create" %}
                    Creation fase
                {% elif chapter == "Closing" %}
                    Overdragen
                {% endif %}
            </h1>
            <div class="spacer-32"></div>
            {# COUNTER #}
            <h4>Hoofdstuk 
                {% if chapter == "Discovery" %}
                    1
                {% elif chapter == "Ideation" %}
                    2
                {% elif chapter == "Create" %}
                    3
                {% elif chapter == "Closing" %}
                    4
                {% endif %}
            </h4>
            <div class="spacer-48"></div>
            {# DESCRIPTION #}
            <p class="big">
                {% if chapter == "Discovery" %}
                    Tijdens de discovery fase hebben wij aan de hand van verschillende methoden en technieken onderzoek gedaan naar de doelgroep, de opdrachtgever en de context van de opdracht. Aan de hand van deze onderzoeksresultaten kunnen we ervoor zorgen dat ons eindproduct goed aansluit bij de wensen van de verschillende stakeholders.
                {% elif chapter == "Ideation" %}
                    Na de Discovery fase gaan we over tot de Ideation fase. Hier gaan we aan de hand van de inzichten uit ons onderzoek een oplossing bedenken voor onze ontwerpvraag. Dit betekent dat we als groep gaan brainstormen aan de hand van creatieve technieken om zo veel ideeën te creëren! 
                {% elif chapter == "Create" %}
                    Tijdens de Ideation fase zijn we tot een aantal concepten gekomen, deze hebben we verwerkt tot 1 concept, welke het beste aansluit op ons onderzoek. Nu is het dus tijd voor de Creation fase, waar we dit concept gaan realiseren met een prototype! Hier gaan we dus alles wat we nodig hebben voor een goed product uitwerken, om ook deze weer te testen bij onze stakeholders.
                {% elif chapter == "Closing" %}
                    Ter afronding van ons project willen wij de <a class="big" target="_blank" href="https://www.kb.nl/">Koninklijke Bibliotheek</a> graag zo veel mogelijk handvaten bieden om verder met het produc te gaan. Daarom in dit hoofdstuk een aantal essentiele bronnen om hierbij te helpen.
                {% endif %}
            </p>
            <div class="spacer-48"></div>
            <div class="button-up">
                <a class="button primary" href="#{{ firstSection }}">Ontdek hoofdstuk</a>
                <a class="button secondary" href="#{{ nextChapter }}">Skip naar volgende</a>
            </div>
        </div>
    </div>
</div>