<div class="footer" id="footer">
    <div class="column c-start-2 c-span-4">
        <h2>Dat was m</h2>
        <div class="spacer-32"></div>
        <p>We hopen dat je genoten hebt van onze case study. Mocht je nog suggesties, feedback, of opmerkingen hebben...</p>
        <div class="spacer-16"></div>
        <a class="button primary" target="_blank" href="https://t.me/elwindewitte">Laat het ons weten</a>
    </div>
    <div class="team-grid c-start-6 c-span-6">
        <h3>Het team</h3>
        {% for teammember in collections.teammember %}
        <div class="teammember">
            <img src="{{ '/' | url }}assets/images/{{ teammember.data.image }}">
            <div class="content">
                <h4>{{ teammember.data.name }}</h4>
                <p>{{ teammember.data.role }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>