<div class="header" id="header">
    <div class="grid">
        <div class="column c-start-2 c-span-10">
            <h1>Een leeservaring<br>voor jongeren</h1>
        </div>
        <div class="column c-start-2 c-span-4">
            <p class="big">Hoe kunnen we jongeren stimuleren om op een innovatieve manier meer literatuur te consumeren?</p>
        </div>
        <div class="column c-start-6 c-span-6">
            <p>Dit semester hebben wij ontworpen voor de Koninklijke Bibliotheek. Zij zijn naar ons toegestapt met een interessante vraag. Zij hebben namelijk gemerkt dat de doelgroep jongeren niet erg geïnteresseerd zijn in het lezen van literatuur en het amper consumeren, ook online. Zo hebben ze dus ons gevraagd een nieuwe, innovatieve manier te bedenken om (digitaal) literatuur te kunnen consumeren. Denk hier aan het prikkelen van verschillende zintuigen, out of the box thinking en nieuwe technologieën. De opdracht is niet gebonden aan een specifieke doelgroep onder de jongeren, deze is aan ons om te specificeren.</p>
        </div>
    </div>
</div>