<div class="menu hidden" id="menu">
    <div class="list">
        {# DISCOVERY #}
        <a class="item" href="#discovery" onclick="toggleMenu()">
            <div class="marker">
                <img src="{{ '/' | url }}assets/icons/double-diamond-2-32.svg">
            </div>
            <h1>Discovery</h1>
        </a>

        {# IDEATION #}
        <a class="item" href="#ideation" onclick="toggleMenu()">
            <div class="marker">
                <img src="{{ '/' | url }}assets/icons/double-diamond-3-32.svg">
            </div>
            <h1>Ideation</h1>
        </a>

        {# CREATE #}
        <a class="item" href="#create" onclick="toggleMenu()">
            <div class="marker">
                <img src="{{ '/' | url }}assets/icons/double-diamond-4-32.svg">
            </div>
            <h1>Create</h1>
        </a>

        {# OVERDRAGEN #}
        <a class="item" href="#closing" onclick="toggleMenu()">
            <div class="marker">
                <img src="{{ '/' | url }}assets/icons/check-32.svg">
            </div>
            <h1>Overdragen</h1>
        </a>
    </div>
</div>