<div class="navigation" id="navigation">
    <div class="marketing">
        <img src="{{ '/' | url }}assets/logos/silverpoint.svg">
        <div class="divider desktop"></div>
        <h1 class="desktop">Silverpoint</h1>
    </div>
    <div class="list">
        <a class="list-item desktop" href="#discovery">Discovery</a>
        <a class="list-item desktop" href="#ideation">Ideation</a>
        <a class="list-item desktop" href="#create">Creation</a>
        <div class="mobile" id="menu-trigger" onclick="toggleMenu()">
            <a class="list-item">Menu</a>
            <img src="{{ '/' | url }}assets/icons/menu-24.svg">
        </div>
    </div>
</div>