<div class="section">
    <div class="grid">
        <div class="column align-center c-start-4 c-span-6">
            <h2>Kill your darling</h2>
            <div class="spacer-64"></div>
            <p class="big grey">Om van deze 3 concepten weer tot 1 final concept te komen hebben interviews gehouden met de doelgroep en de opdrachtgever om feedback te verzamelen. We hebben ook gekeken hoe inclusive de drie concepten waren en in hoeverre ze aansluiten bij de ontwerp criteria. Hier kwamen we tot de conclusie dat alle concepten goede elementen bevatten en hebben dus gekozen om deze samen te voegen tot 1 concept zodat deze het beste aansluit op de behoeften van de stakeholders. </p>
        </div>
    </div>
</div>