<div class="section dark-purple align-center" id="credit">
    <div class="grid">
        <div class="column c-start-3 c-span-8">
            <h2>Met dank aan</h2>
            <div class="spacer-64"></div>
            <p class="big">Om ons project successvol af te sluiten, konden we absoluut niet zonder deze geweldige mensen en tools, die willen we bij deze enorm bedanken! We hebben op jullie kunnen vertrouwen voor feedback, hulp, en begeleiding, wat allemaal heeft bijgedragen aan een geweldige tijd voor ons allen! <i class="twa twa-folded-hands"></i></p>
        </div>
        <div class="credit-cards c-start-3 c-span-8">
            {# HR #}
            <div class="card">
                <div class="entity">
                    <a target="_blank" href="https://www.hogeschoolrotterdam.nl/">Hogeschool Rotterdam</a>
                </div>
                <div class="people">
                    <p><i class="twa twa-person-surfing"></i> Bruce Moerdjiman</p>
                    <p><i class="twa twa-baby"></i> Jasper Schelling</p>
                </div>
            </div>

            {# KB #}
            <div class="card">
                <div class="entity">
                    <a target="_blank" href="https://www.kb.nl/">Koninklijke Bibliotheek</a>
                </div>
                <div class="people">
                    <p>Marianne Hermans</p>
                    <p>Ted van der Togt</p>
                    <p>Thomas Haighton</p>
                </div>
            </div>

            {# Testpersonen #}
            <div class="card">
                <div class="entity">
                    <p>Onze lieve testpersonen</p>
                </div>
                <div class="people">
                    <p><i class="twa twa-cowboy-hat-face"></i> Chanouk</p>
                    <p><i class="twa twa-blossom"></i> Vera</p>
                    <p><i class="twa twa-cat-face"></i> Sulisa</p>
                    <p><i class="twa twa-butterfly"></i> Yasemin</p>
                    <p><i class="twa twa-face-with-steam-from-nose"></i> Tycho</p>
                    <p><i class="twa twa-newspaper"></i> Thomas</p>
                    <p><i class="twa twa-helicopter"></i> Reinout</p>
                    <p><i class="twa twa-rocket"></i> Lars</p>
                </div>
            </div>

            {# Testpersonen #}
            <div class="card">
                <div class="entity">
                    <p>Onze geweldige tools</p>
                </div>
                <div class="people">
                    <a target="_blank" href="https://www.figma.com/"><i class="twa twa-artist-palette"></i> Figma</a>
                    <a target="_blank" href="https://www.figma.com/"><i class="twa twa-memo"></i> Notion</a>
                    <a target="_blank" href="https://www.figma.com/"><i class="twa twa-brain"></i> Miro</a>
                    <a target="_blank" href="https://www.figma.com/"><i class="twa twa-magnifying-glass-tilted-right"></i> Lookback</a>
                    <a target="_blank" href="https://www.figma.com/"><i class="twa twa-floppy-disk"></i> Github</a>
                </div>
            </div>
        </div>
    </div>
</div>