<div class="section">
        <div class="grid">
            <div class="column c-start-2 c-span-4">
                
            </div>
            <div class="column c-start-6 c-span-6">
                <h2>Prototyping</h2>
                <div class="spacer-48"></div>
                <p class="big grey">Hier komt ook een heel mooi tekstje maar dit keer gaat het over het prototype en hoe Elwin die gemaakt heeft denk ik zo of misschien gaat het ergens anders over maar heeft het nog steeds te maken met het prototype hmm. Hier komt ook een heel mooi tekstje maar dit keer gaat het over het prototype en hoe Elwin die gemaakt heeft denk ik zo of misschien gaat het ergens anders over maar heeft het nog steeds te maken met het prototype hmm. </p>
                <div class="spacer-32"></div>
                <a class="button primary" href="https://bookbite.netlify.app/">Bekijk het prototype hier!</a>
            </div>
        </div>
    </div>