<div class="section">
    <div class="grid">
        <div class="column c-start-2 c-span-4">
            <h2>Prototyping</h2>
            <div class="spacer-48"></div>
            <p class="big grey">Het prototype hebben we in eerste instantie gemaakt met Figma, maar na de eerste user tests merkte we al dat we de verfijning misten om mensen echt op te nemen in een effectieve user test.</p>
            <p class="grey">Daarom kozen we ervoor om te gaan werken met <a class="grey" href="">Eleventy</a>, een static site generator waarmee we ons prototype echt konden coderen. We hebben hiervoor gekozen aangezien je met Eleventy ook data kunt hangen aan de pagina's die je maakt. Zo kun je nu makkelijk boeken toevoegen aan het prototype, of schrijvers. Op deze manier is het schaalbaar en konden we makkelijk de content aanpassen voor de user tests. Daarnaast is dit ook een manier waarmee de <a class="grey" href="">Koninklijke Bibliotheek</a> tot op een zekere hoogte makkelijk zelf aan de slag kan.</p>
            <div class="spacer-32"></div>
            <div class="button-up">
                <a class="button primary" target="_blank" href="https://bookbite.netlify.app/">Test het prototype zelf</a>
                <a class="button secondary" target="_blank" href="https://github.com/elwindewitte/bookbite-app">Check code op Github</a>
            </div>
        </div>
        <div class="code-container c-start-6 c-span-6">
            <img src="{{ '/' | url }}assets/images/prototype.png">
        </div>
    </div>
</div>