<div class="section" id="concepting">
    <div class="grid">
        <div class="column c-start-2 c-span-6">
            <img src="{{ '/' | url }}assets/images/stakeholder-map.svg">
        </div>
        <div class="column align-self-center c-start-8 c-span-4">
            <h2>Stakeholders</h2>
            <div class="spacer-48"></div>
            <p class="big grey">Aan het begin van de minor hebben we een workshop gedaan samen met onze opdrachtgever Marianne en docent Bruce. Met hun hebben we de stakeholders van de <a class="big grey">Koninklijke Bibliotheek</a> duidelijk in kaart kunenn brengen.</p>
        </div>
    </div>
</div>