<div class="section light" id="styleguide">
    <div class="grid">
        {# Toggle #}
        <div class="column c-start-2 c-span-10" id="toggleContainer" onclick="toggleLightDark()">
            <div class="toggle-wrapper">
                <h4 id="textLightMode">Light mode</h4>
                <div class="toggle"><div class="dot"></div></div>
                <h4 id="textDarkMode">Dark mode</h4>
            </div>
        </div>

        {# Logo's #}
        <div class="logo-wrapper">
            <h4>Logo's</h4>
            <div class="logo-cards">
                <div class="card" id="assetLogo">
                    <img src="/assets/logos/bookbite-logo-light.svg">
                    <p class="description">Logo</p>
                </div>
                <div class="card" id="assetWordmark">
                    <img src="/assets/logos/bookbite-wordmark-light.svg">
                    <p class="description">Wordmark</p>
                </div>
            </div>
        </div>

        {# Colors #}
        <div class="color-wrapper">
            <h4>Kleurstijlen</h4>
            <div class="color-cards">
                <div class="card">
                    <div class="color primary"></div>
                    <p class="description">Primary</p>
                </div>
                <div class="card">
                    <div class="color secondary"></div>
                    <p class="description">Secondary</p>
                </div>
                <div class="card">
                    <div class="color background"></div>
                    <p class="description">Background</p>
                </div>
                <div class="card">
                    <div class="color white"></div>
                    <p class="description">Light</p>
                </div>
                <div class="card">
                    <div class="color black"></div>
                    <p class="description">Dark</p>
                </div>
            </div>
        </div>

        {# Fonts #}
        <div class="font-cards">
            <h4>Tekststijlen</h4>
            <div class="card">
                <p class="font lora">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
                <p class="description">Lora Medium Roman • Headers (origineel)</p>
            </div>
            <div class="card">
                <p class="font epilogue-bold">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
                <p class="description">Epilogue Bold • Headers (aangepast)</p>
            </div>
            <div class="card">
                <p class="font epilogue-reg">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
                <p class="description">Epilogue Regular • Body</p>
            </div>
        </div>
    </div>
</div>