<div class="section">
    <div class="grid">
        <div class="column c-start-2 c-span-4">
            <h2>Wireframes</h2>
        </div>
        <div class="column c-start-6 c-span-6">
            <p class="grey big">Om de functionaliteiten van ons product voor ogen te zien en te kunnen testen hebben we wireframes opgesteld, ook als basis voor ons prototype. Aan de hand van onze jobstories hebben we bepaald welke functionaliteiten de app hoort te hebben en deze zijn in de wireframes verwerkt. Belangrijke keuzes hierin zijn: de navigatiebalk onderin het scherm, de zoekfunctie (op genre, auteur, titel) en een aantal belangrijke instellingen. </p>
        </div>
        <div class="wireframe-gallery c-start-2 c-span-10">
            <img class="wireframe" src="{{ '/' | url }}assets/images/wireframe-home.jpg">
            <img class="wireframe" src="{{ '/' | url }}assets/images/wireframe-search.jpg">
            <img class="wireframe" src="{{ '/' | url }}assets/images/wireframe-search-results.jpg">
            <img class="wireframe" src="{{ '/' | url }}assets/images/wireframe-search-categories.jpg">
            <img class="wireframe" src="{{ '/' | url }}assets/images/wireframe-book-detail.jpg">
            <img class="wireframe" src="{{ '/' | url }}assets/images/wireframe-book-reading.jpg">
        </div>
    </div>
</div>